services:
  - type: web
    name: whatsapp-server
    runtime: docker
    plan: free
    healthCheckPath: /health
    envVars:
      - key: PORT
        value: "10000"
      - key: SELF_URL
        value: https://whatsapp-server-z7pm.onrender.com
      - key: DATA_FOLDER
        value: /var/data
